*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

nav ul{
  list-style-type: none;
  text-align: right;
  padding: 1rem 1rem 0 0;
}

nav li {
  display: inline-block;
  padding: .5rem 1.5rem;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.507);
  cursor: pointer;
  font-size: .5rem;
  transition: .5s;
  align-items: flex-start;
  position: sticky;
  position: -webkit-sticky;
  top: 4rem;
}

nav li:hover{
  background-color: rgba(255, 255, 255, 0.76);
  color: black;
  border: 1px solid black;
}

main{
  background: url(https://source.unsplash.com/collection/1911873/1600x900);
  height: 100vh;
  filter: grayscale(100%);

}